@import 'remixicon/fonts/remixicon.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  ::-webkit-scrollbar { width: 8px; }
  ::-webkit-scrollbar-track { background: #111111; }
  ::-webkit-scrollbar-thumb { background: #333333; border-radius: 4px; }
  ::-webkit-scrollbar-thumb:hover { background: #555555; }
}
